{% extends 'base.html.twig' %}

{% block title %}Bookings{% endblock %}

{% block body %}
    <div class="full-calendar" data-bookings="{{ bookingsSerialized|json_encode() }}"></div>

    <!-- Modal -->
    {{ include('bookings/modal.html.twig') }}
{% endblock %}
