<!DOCTYPE html>
<html lang="fr">
{% include '_partials/_head.html.twig' %}
<body class="d-flex">
{% include '_partials/_navigation.html.twig' %}
<div class="main container mt-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>
