<!DOCTYPE html>
<html lang="fr">
{% include '_partials/_head.html.twig' %}
<body>
{% include '_partials/_navigation.html.twig' %}
<div class="container mt-4">
    {% block body %}{% endblock %}
</div>
</body>
</html>
