{% extends 'base.html.twig' %}

{% block title %}Modifier le propriétaire{% endblock %}

{% block body %}
    <h1>Modifier le propriétaire</h1>
    {{ include('owner/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
