{% extends 'base.html.twig' %}

{% block title %}Modifier le chien{% endblock %}

{% block body %}
    <h1>Modifier le chien</h1>

    {{ include('dog/_form.html.twig', {'button_label': 'Modifier'}) }}
{% endblock %}
